@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: LexendDeca;
  src: url("./fonts/LexendDeca-Regular.ttf");
}
.LexendDeca{
  font-family: LexendDeca;;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: kadamThmor;
  src: url("./fonts/KdamThmorPro-Regular.ttf");
}
.kadamThmor{
 font-family: kadamThmor;
}
